/* Configuración general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dedede;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    border: 0.0625rem solid #bdc3c7;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Menú a la izquierda */
.izquierda {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #4d706e;
    height: 100%; /* Asegura que ocupe todo el alto del contenedor */
    border-radius: 0 2rem 2rem 0;
}

.login {
    background-color: #3f5c5a;
    color: #dedede;
    text-transform: uppercase;
    padding-bottom: 8rem;
    border-radius: 0 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 70%; /* Ocupa todo el alto disponible */
    background-color: #4d706e;
    margin-left: 1rem;
}

.menu-active {
    background-color: #dedede;
}

.menuList-active {
    background-color: #4d706e;
}

.menuElements-active {
    background-color: #dedede;
    border-radius: 2rem 0 0 2rem;
}

.menu-top,
.menu-bottom {
    background-color: #4d706e;
    color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.menu-footer {
    background-color: #4d706e; /* Igual que el fondo del menú */
    flex-grow: 1; /* Este div ocupará el resto del espacio disponible */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
}

.menu-top {
    border-bottom-right-radius: 1.5rem;
}

.menu-bottom {
    border-top-right-radius: 1.5rem;
}

/* Quitar puntos de las listas y márgenes */
ul, .menu-top ul, .menu-bottom ul {
    list-style: none; /* Sin marcadores para las listas */
    padding: 0;
    margin: 0;
}

/* Botones del menú */
ul li, .menu-top li, .menu-bottom li {
    list-style: none; /* Garantizamos que los elementos individuales tampoco tengan estilo */
    /* margin: 0.625rem 0; */
    padding: 0.625rem;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #dedede;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

ul li:hover, .menu-top li:hover, .menu-bottom li:hover {
    text-transform: uppercase;
    color: black;
}

ul li.active, .menu-top li.active, .menu-bottom li.active {
    text-transform: uppercase;
    color: black;
}

/* Contenido a la derecha */
.content {
    flex: 1;
    padding: 1.25rem;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1 {
    margin: 0;
    font-size: 2rem;
}

.content p {
    font-size: 1rem;
    color: #7f8c8d;
}
